{{> navigation}}
<section id="viewUserHome">
    <h1 id="viewUserHomeHeading">Welcome, {{username}}!</h1>
    <a href="#/shop" id="linkUserHomeShop">Shop</a>
    <a href="#/card" id="linkUserHomeCart">Cart</a>
</section>
{{> footer}}