{{> navigation}}
<section id="viewSendMessage">
    <h1>Send Message</h1>
    <form id="formSendMessage" method="post" action="#/sendMessage">
        <div>Recipient:</div>
        <div>
            {{> loadNames}}
        </div>
        <div>Message Text:</div>
        <div><input type="text" name="text" required id="msgText" /></div>
        <div><input type="submit" value="Send" /></div>
    </form>
</section>
{{> footer}}