<section id="profile">
    <div class="container">
        {{> header}}
        {{> nav}}
        <div class="box-large">
            <h1>My Profile</h1>
            <div class="content">
                <div class="info">
                    <div class="col centered">
                        <span class="avatar">&#9787;</span>
                    </div>
                    <div class="col">
                        {{> editProfileForm}}
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
</section>