{{> header}}
{{> navigation}}
<section id="viewDiscover">
    <div class="content">
        <div class="chirps">
            <h2 class="titlebar">Discover</h2>
            {{> users}}
        </div>
    </div>
</section>
{{> footer}}