{{> header}}
{{> navigation}}
<section id="viewMe">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            {{> chirpsForm}}

            <div id="myStats" class="user-details">
                <span>{{currentChips}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
            </div>
        </div>
        {{> myChirps}}
    </div>
</section>
{{> footer}}