{{> header}}
{{> navigation}}
<section id="viewFeed">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>
            {{> chirpsForm}}
            <div id="userStats" class="user-details">
                <span>{{currentChips}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
            </div>
        </div>
        {{> chirps}}
    </div>
</section>
{{> footer}}