<table>
    <thead>
    <tr>
        <th>From</th>
        <th>Message</th>
        <th>Date Received</th>
    </tr>
    </thead>
    <tbody>
    {{#each messages}}
        <tr>
            <td>{{from}}</td>
            <td>{{text}}</td>
            <td>{{data}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>