{{> header}}
    <div class="content">
        {{> nav}}
        <section id="viewComments">
            {{> postInfo}}
            <div class="post post-content">
                {{> formCreatePost}}
            </div>
            {{> articlesComments}}
        </section>
    </div>
{{> footer}}