<table>
    <thead>
    <tr>
        <th>To</th>
        <th>Message</th>
        <th>Date Sent</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each archiveMessages}}
        <tr>
            <td>{{recipient_username}}</td>
            <td>{{text}}</td>
            <td>{{data}}</td>
            <td><a href="#/delete/{{_id}}"><button>Delete</button></a></td>
        </tr>
    {{/each}}
    </tbody>
</table>