{{> header}}
    <main>
        <section id="viewAds" class="viewAds">
            <h1 class="titleForm">Advertisements</h1>
            <div id="ads" class="ads">
                {{> tableAds}}
            </div>
        </section>
    </main>
{{> footer}}