<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each products}}
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{price}}</td>
            <td><a href="#/purchase/{{_id}}"><button>Purchase</button></a></td>
        </tr>
    {{/each}}
    </tbody>
</table>