{{> header}}
    <div class="content">
        {{> nav}}
        <section id="viewMyPosts">
            <div class="post post-content">
                <h1>Your Posts</h1>
            </div>
            <div class="posts">
                {{> articlesCatalog}}
            </div>
        </section>
    </div>
{{> footer}}