{{> header}}
    <main id="site-content">
        <section class="dashboard">
            <h1>Dashboard</h1>
            <nav class="navbar">
                <ul>
                    <li><a href="#/home">All</a></li>
                    <li><a href="#/pets/Cat">Cats</a></li>
                    <li><a href="#/pets/Dog">Dogs</a></li>
                    <li><a href="#/pets/Parrot">Parrots</a></li>
                    <li><a href="#/pets/Reptile">Reptiles</a></li>
                    <li><a href="#/pets/Other">Other</a></li>
                </ul>
            </nav>
            {{> pets}}
        </section>
    </main>
{{> footer}}