{{> header}}
    <div class="content">
        {{> nav}}
        <section id="viewCatalog">
            <div class="posts">
                {{> articlesCatalog}}
            </div>
        </section>
    </div>
{{> footer}}