{{> header}}
<div class="content">
    {{> navigation}}
<section id="viewComments">
    {{> postDetails}}
    <div class="post post-content">
        {{> createCommentForm}}
    </div>
    {{> comments}}
</section>
</div>
{{> footer}}